*.tuc
*.log
*.blg
*.bbl
*.pdf
*.html
*.swo
*.swp
*.docx
*.rtf
*.out
*.fls
*.xdv
*.aux
*.fdb_latexmk
*.synctex.gz

# pixi environments
.pixi
*.egg-info
/publications.org
/.gitattributes
/.auctex-auto/
/pixi.lock
